

.card-body card-title card-text {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	justify-content: center;
	



}
.card {
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Adjust the duration for a smoother transition */
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container:hover .card-img-top {
    filter: grayscale(100%);
    transform: scale(1.1); /* Adjust the scale for a larger zoom effect */
  }
  

  /* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}

.card mb-5{
    max-width: 500px;
    height: 400px;
}








/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 15px;
	font-family: 'Bebas Neue', sans-serif;
	
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.form-control {
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    
    

}

.card {
	display: inline-block;
	width: 100%;
	max-width: 30rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.8rem) scale(1.1);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}